div.credit-card-form {
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  padding: 180px 35px 35px 35px;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 10px;

  div.row {
    display: flex;
    flex-flow: row wrap;
  }

  label {
    display: flex;
    flex-flow: column nowrap;

    input, select {
      padding: 5px 15px;
      height: 50px;
      font-size: 18px;
      border: 1px solid #ced6e0;
      border-radius: 5px;
    }
  }
}
